page-course {
    .searchbar-ios {
        background: #0B2161;
    }

    .searchbar-ios-school .searchbar-ios-cancel {
        color: #ffffff;
    
    }

    .searchbar-md {
        background: #0B2161;
        padding: 8px;
}
}
